<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Reset Password</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="/public/bundle/resetPassword.bundle.js"></script>
</html>