<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Sign up</title>
  </head>
  <body>
    <div id="root"></div>

  </body>
  <script src="/public/bundle/signup.bundle.js"></script>
</html>